<%- include("../partials/adminNavbar.ejs") %>
  <main class="mt-5 pt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 fw-bold fs-3">Manage User</div>
        <div class="col-md-12">
          <div class="card">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">Data Table</div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Plan</th>
                        <th scope="col"></th>

                      </tr>
                    </thead>
                    <tbody>

                      <% users.forEach(function (user , index) { %>
                        <tr>
                          <th scope="row"><%= index + 1 %></th>
                          <td><%= user.name %> </td>
                          <td><%= user.email %> </td>
                          <td></td>
                          <td>
                            <a href="/manageUser/delete/<%= user._id %>" class="btn btn-danger">Delete</a>
                          </td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
  </main>

  <%- include("../partials/script") %>