<%- include("../partials/adminNavbar.ejs") %>
<main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 fw-bold fs-3">View Diet</div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Data Table</div>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Meal 1</th>
                            <th scope="col">Meal 2</th>
                            <th scope="col">Meal 3</th>
                            <th scope="col">Meal 4</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% diet.forEach(function (diets , index) { %>
                            <tr>
                              <th scope="col"> <%= index + 1 %> </th>
                              <td><%= diets.meal1 %></td>
                              <td><%= diets.meal2 %></td>
                              <td><%= diets.meal3 %></td>
                              <td><%= diets.meal4 %></td>
                              <td>
                                  <a href="/diet/delete/<%= diets._id %>"  class="btn btn-danger">Delete </a>
                              </td>
                            </tr>
                          <% }) %>
                        
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
</main>

<%- include("../partials/script") %>