<%- include("../partials/adminNavbar.ejs") %>
    <main class="mt-5 pt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 fw-bold fs-3">All active Plans</div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">Data Table</div>
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Plan Name</th>
                                <th scope="col">Price (rs)</th>
                                <th scope="col">Duration</th>
                              </tr>
                            </thead>
                            <tbody>
                              <% plan.forEach(function(plans , index) { %>
                                <tr>
                                    <th scope="row"> <%= index+1 %></th>
                                    <td><%= plans.name %></td>
                                    <td><%= plans.amount %></td>
                                    <td><%= plans.description2 %></td>
                                </tr>
                                <% }) %>
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
    </main>

    <%- include("../partials/script") %>